@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
}

/* ------------------ HEADER */

.App {
  position: relative
}

.container-app{
  position: absolute;
  z-index: 0;
}


.App-header {
  background-color: black;
  width: 100vmax;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;


}

.cabecalhoPrincipal-nav{
  width: 80vw;
  height: 64px;
  /*background-color: #61dafb;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cabecalhoPrincipal-nav-login{
  width: 110px;
  height: 34px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.text-login{
  height: 36px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ------------------ MAIN */

.container-home {
  position: absolute;
  z-index: 0;
  height: 1200px;
  width: 100%;
  background-color: aquamarine;
}


.home-banner{
  height: 880px;
  width: 100vmax;
  display: flex;
  justify-content:center;
  background: radial-gradient(105.62% 65.06% at 103.26% 93.6%, #6E0912 2.86%, #870C18 5.68%, #5D0C14 31.96%, #30090D 68.03%, #0D0002 94.8%);
}

.home-info{
  width: 80%;
  height: 655px;
  /* background-color: aqua; */
  
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;

}

.info-text{
  margin-top: 80px;
  width: 534px;
  height: 555px;
  font-size: 20px;
  color: white;
  /* background-color: blue; */
  font-family: 'Open Sans', sans-serif;
  
}

.info-text h1{
  width: 300px;
  margin-bottom: 50px;
  /* background-color: aliceblue; */
}

.info-text-p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;

  
}

.info-text p {
  width: 400px;
  height: auto;
  /* background-color: aquamarine; */
  font-weight: 400;
}

.info-text nav{
  height: 50px;
  width: 128px;
  margin-top: 100px;
  border-radius: 5px;
  background-color: #FF0303;
  display: flex;
  justify-content: center;
}


.home-img{
  margin-right: 50px ;
  margin-bottom: 150px;
  width: 550px;
  height: 217px;
  background-image: url(../../assets/img/infra.png);
  background-repeat: no-repeat;
  background-size: cover;

}


.container-home-2{
  width: 100%;
  height: 750px;
  background-image: url(../../assets/img/bg.png);
  position: absolute;
  z-index: 1;
  top: 980px;
  
}

.footer{
  background-color: black;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 1700px;
  position: absolute;
  z-index: 1;
  
  color: white;
}

/* -------------------- SERVICOS */

.container-servicos{
  height: auto;
  width: 78%;
  /* background-color:cornflowerblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  z-index: 1;  
  left:150px;
  top: 800px;
}




.box-app-1{
  width: 900px;
  height: 460px;
  display: flex;
  /* background-color: burlywood; */

}


.app-1{
  height: 460px;
  width: 795px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: aqua; */
  
}

.app-1 p, .app-1 h2 {
  color: white;
}


.app-1-text{
  width: 400px;
  height: 180px;
  font-size: 18px;
  text-align: center;

  margin-top: 150px;
}


.img{
  height:371px;
  width: 795px;
  background-image: url(../../assets/img/zabbix.png);
}
.img-2{
  height:371px;
  width: 795px;
  background-image: url(../../assets/img/2.png);
}



.container-servicos-2{
  height: auto;
  width: 78%;
  /* background-color:cornflowerblue; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  z-index: 1;  
  left:150px;
  top: 1300px;
}

.img-gra{
  height: 40px;
  width: 170px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/img/gra.png);
  margin-top: 20px;
}

.box-app-1-2{
  width: 1200px;
  height: 380px;
  display: flex;
  /* background-color: burlywood; */

}



.app-1-2{
  height: 380px;
  width: 795px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aqua;
  
}

.app-1-2 p, .app-1-2 h2 {
  color: white;
}


.app-1-text-2{
  width: 400px;
  height: 180px;
  font-size: 18px;
  text-align: center;

  margin-top: 80px;
}
.img-2{
  height:371px;
  width: 795px;
  background-image: url(../../assets/img/2.png);
}
