* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
  }

.container-login 
{
  position: relative;
    height: 100vh;
    width: 100%;
    background: radial-gradient(86.52% 100.31% at 88.16% 13.48%, #DA192C 0%, #851F29 17.18%, #60161D 46.87%, #30090D 73.95%, #210508 94.8%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.logo-header-login{
  position: absolute;
  z-index: 0;
  top:30px;
  left:80px
}

.bg-animation-login{
  position: absolute;
  z-index: 0;
  width: 800px;
  height: 800px;
  background-image: url(../../assets/img/roda.png);
  background-position: center;
  background-size: cover;
  right: 0;
  bottom: 0;
  transform: rotate(0deg)
}

.box-login{
  z-index: 1;
  position: absolute;
  top: 200px;
  right: 552px;
  width: 341px;
  height: 367px;
  border-radius: 10px;
  background: linear-gradient(319.74deg, rgba(0, 0, 0, 0.3952) -0.87%, rgba(0, 0, 0, 0.76) 116.41%);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box-login-2{
  z-index: 1;
  position: absolute;
  top: 200px;
  right: 382px;
  width: 560px;
  height: 387px;
  border-radius: 10px;
  background: linear-gradient(319.74deg, rgba(0, 0, 0, 0.3952) -0.87%, rgba(0, 0, 0, 0.76) 116.41%);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 60px;
}


.box-login a{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.box-login-2 a{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.box-login-nav{
  width: 220PX;
  height: auto;
  /* background-color:orange; */
}

.box-login-nav a{
  color: white;
  margin-right: 10px;

}

.box-form-login{
  width: 220px;
  height: 220px;
  /* background-color: blueviolet; */
}

.box-form-login-2{
  width: 420px;
  height: 260px;
  /* background-color: blueviolet; */
}

.cont-login{
  display: flex;
  justify-content: space-between;

}

.form-login, .form-login-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
}

.form-login-2{
  width: 500px;
  height: 250px;
  margin-top: 10px;
}

.form-login p, .form-login-2 p{
  color: white;
  font-size: 12px;
}

.box-cadastro-1{
  height: 180px;
  width: auto;
  /* background-color: blue; */
}

.box-cadastro-2{
  height: 180px;
  width: auto;
  /* background-color: #851F29; */
}

.box-input-login{
  width: 220px;
  height: 42px;
  margin-bottom: 10px;
}

.box-input-login-2{
  width: 220px;
  height: 42px;
  margin-bottom: 20px;
}

.box-input-login input{
  color:white;
}

.box-input-login-2 input{
  color:white;
}

.input-login{
  width: 100%;
  height: 35px;
  background: none;
  border-top: 0 ;
  border-left: 0;
  border-right: 0;
}

.btn-login{
  width: 120px;
  height: 35px;
  border-radius:5px;
  background-color: #A71111;
  border: none;
  margin-left: 48px;
  color:white;
}

.btn-login-2{
  width: 120px;
  height: 35px;
  margin-bottom: 12px;
  border-radius:5px;
  background-color: #A71111;
  border: none;
  margin-left: 380px;
  color:white;
}

.login-recuperar{
  margin-bottom: 20px;
}

